.App {

  text-align: center;
 
}


header{
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 30px;
  color: whitesmoke;
  background-color: rgb(44, 43, 43);
  height:80px;
}
button{
  width: 160px;
  height: 40px;
  font-size: larger;
  font-weight: bolder;
  border-radius: .3em;
  margin:20px;
}
button:hover{
  width:165px;
  height:45px;
  background-color: gray;
  color: whitesmoke;
}
.userSummary-div1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}
.first-output{
  /* border: 1px solid whitesmoke; */
  color: whitesmoke;
  width:600px;
  height:190px;
  background-color: rgb(57, 52, 52);
  border: 1px solid whitesmoke;
  border-radius: .5em;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}
.more-info-p{
  margin-top: 20px;
  border: 1px solid whitesmoke;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: whitesmoke;
  background-color: rgb(57, 52, 52);
  border-radius: .5em;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}
.more-info-pic{
  border: 1px solid whitesmoke;
  margin: 30px;
  border-radius: .3em;
  box-shadow: 3px 5px 4px #888888;
}
span{
  text-decoration: underline;
}
